.btn{
    padding:5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn.btn-large{
    padding:10px 20px;
}
.btn.btn-primary{
    background-color: var(--bg-blue);
    color: #fff;
}