.formulario-login form{
    width:500px;
    height: 500px;
    border:1px solid rgb(184, 181, 181);
    box-shadow: 2px 1px 10px 0px rgb(184, 181, 181);
    position: relative;
}
.formulario-login form .detalhe-login{
    position:absolute;
    top:1.5rem;
    font-size: 150px;
    color:var(--bg-blue);
}
