.main{
    border-top:300px solid var(--bg-blue);
    position:relative;
}
.main-content{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    justify-content: center;
}
.content{
    background-color: #eee;
    display: block;
    width: 100%;
    height: auto;
    padding:20px;
}