.caixas-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.caixa{
    width:300px;
    height: 300px;
    margin:5px;
    box-shadow: 1px 1px 10px 1px rgb(203, 203, 203);
    border-radius: 5px;
}
.caixa-title{
    justify-content: flex-start;
    align-items: flex-start;
}