.table{
    width: 100%;
}
.table a{
    color:#000;
    display: block;
}
.table thead{
    text-align: center;
}
.table thead th{
    padding:5px;
    font-size: 1.375rem;
}
.table td{
    padding:5px;
}
.table.table-stripped tr:nth-child(even){
    background-color: #ddd;
}

.table.table-stripped.table-dark{
    background-color: #555;
    color:#fff;
}
.table.table-stripped.table-dark tbody tr:nth-child(even){
    background-color: #888;
}
.table.table-stripped.table-dark tbody tr:nth-child(odd){
    background-color: #444;
}
.table.table-stripped.table-dark tbody tr:nth-child(odd) td{
    color: #fff;
}
.table.table-stripped.table-dark tbody tr:nth-child(odd) a{
    color: #fff;
}
.table.table-stripped.table-dark tbody tr:nth-child(even) td{
    color:#fff;
}
.table.table-stripped.table-dark tbody tr:nth-child(even) a{
    color:#fff;
}

.table.table-text-center{
    text-align: center;
}
