html, body, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 100vw;
    width: 100vw;
    background-color:#1f1818;
}

form{
    width: 100%;
}
input{
    border:none;
    outline: none;
    color:#fff;
}
label{
    margin-top:20px;
}
.btn{
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    padding:10px 15px;
    max-width: max-content;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn.btn.btn-primary:hover{
    background-color: rgb(45, 30, 30);
    color:#111;
}
.btn.btn-primary{
    color:rgb(255, 254, 254);
    background-color: rgb(27, 14, 14);
}
.material-icons.dark-blue{
    color:rgb(26, 0, 78);
}
.material-icons.tiny{
    font-size: 1rem;
}
.material-icons.small{
    font-size: 2rem;
}
.material-icons.medium{
    font-size: 4rem;
}
.material-icons.large{
    font-size: 6rem; 
}
.title{
    font-size: 24px;
}
.fs-1{
    font-size: 1rem;
}
.fs-2{
    font-size: 2rem;
}