#pg-login label{
    color:rgb(216, 209, 209);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
}
#pg-login input{
    border-bottom:1px solid rgb(186, 185, 185);
}
#pg-login input:focus{
    background-color: rgb(216, 209, 209);
}
#pg-login i, span{
    color:#fff;
}
#pg-login span{
    position: relative;
}
#pg-login span::before{
    content:"";
    display: block;
    position: relative;
    width: 5px;
    height: 15px;
    background: linear-gradient(rgb(55, 51, 51), rgba(194, 159, 3, 0.845)) ;
    right:-48%;
    top:36px;
    transform: rotate(90deg);
}
#pg-login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pg-login .login-form{
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding:10px;
    background-color: #1b1717;
    box-shadow: 2px 2px 2px #1b1717;
}

#pg-login .login-form form{
    background-color: rgb(46, 45, 45);
    padding:10px;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pg-login .form-item{
    display: flex;
    flex-direction: column;
}

#pg-login .login-form .form-control{
    font-size: 20px;
    padding:4px;
    background-color: transparent;
}
